@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
header {
    background-color: #093D77;
}


/* navbar */

.navbar-brand {
    width: 50px;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(240, 240, 240, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

nav {
    display: grid;
    margin-left: 50px;
    margin-right: 50px;
    align-items: center;
}

.nav-link {
    color: #f0f0f0;
    margin-left: 30px;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    /* margin-top: 45px; */
}

.nav-link:hover {
    color: rgb(218, 218, 218);
}

#navbarNav {
    justify-content: space-between;
}

.btn-primary {
    border: none;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 500;
    background-color: #083465;
    color: #f0f0f0;
    text-decoration: none;
    border-radius: 12px;
}


/* hero-title */

.card-vm,
.hero-title {
    margin-top: 75px;
}

.tag {
    color: #FEF400;
    font-style: bold;
    font-size: 18px;
}

.hero-title,
h1 {
    color: #f0f0f0;
    width: 75%;
    font-family: "Poppins", sans-serif;
}

.header-img {
    margin-top: 30px;
    max-width: 80%;
    max-height: 10%;
    margin-bottom: -23%;
}


/* Introduction */

.intro {
    margin-top: 30%;
    width: 75%;
    text-align: left;
}

.intro p {
    color: #0E1624;
    line-height: 2em;
    font-size: 16px;
}


/* Visi Misi */

.card-vm {
    background-color: #F9FAFB;
    margin-top: 80px;
    border-radius: 24px;
}

.card-vm h5 {
    text-align: center;
    color: #00923E;
}

.card-title {
    text-align: center;
}

.badge {
    margin-top: 80px;
    font-size: 30px;
    color: #093D77;
    width: 473px;
    background-color: #F9FAFB;
    font-family: "inter", sans-serif;
    border-radius: 100px;
}

.card-profile {
    margin-top: 50px;
}

.card-profile h5 {
    text-align: left;
    font-family: "inter", sans-serif;
    font-weight: bold;
}

.card-profile p {
    font-family: "inter", sans-serif;
    font-size: 18px;
    color: #00923E;
}


/* Dokumentasi  */

.dokumentasi {
    margin-top: 80px;
}

.dokumentasi h5 {
    color: #00923E;
    text-align: center;
}

#dok-title {
    text-align: center;
}

.bg-img {
    margin-top: 50px;
    background: url(../images/fotodivisi.png);
    width: 100%;
    height: 550px;
    background-size: cover;
    position: relative;
}

.text-places {
    color: #f0f0f0;
    position: absolute;
    text-align: left;
    padding: 30px;
}


/* Footer */

footer {
    margin-top: 150px;
    background-color: #F9FAFB;
}

footer a {
    text-decoration: none;
    color: #0E1624;
}

#footer-desc {
    margin-top: 10px;
    font-family: "inter", sans-serif;
    font-size: 16px;
    color: #0E1624;
}

#btn-footer {
    background-color: #00923E;
    color: #f0f0f0;
    border-radius: 24px;
}

#btn-footer:hover {
    background-color: #00662a;
}


/* Untuk layar device ukuran BESAR */

@media screen and (min-width: 450px) {
    #misi {
        order: 1;
    }
}


/* Untuk layar device ukuran SEDANG */

@media screen and (min-width: 550px) {
    .intro {
        margin-top: 30%;
    }
}


/* Untuk layar device ukuran besar */

@media screen and (max-width: 767px) {
    .intro {
        margin-top: 40%;
    }
    #contact {
        margin-top: 20px;
    }
}